# Git ignore for Python, Django, PyCharm
# Basic exclusions

# Python bytecode and cache
*.pyc
pycache/

# Django specific files
*.log
*.pot
/local_settings.py
/db.sqlite3
/db.sqlite3-journal
/media/
**/staticfiles/

# Build and distribution directories
build/
dist/
*.egg-info/

# Virtual environment folders
.env
.venv
env/
venv/

# PyCharm project settings
.idea/